---
# Only the main Sass file needs front matter
---
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.author__avatar img {
  filter: none !important;
  -webkit-filter: none !important;
}

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 14px; // originally 16px
    @include breakpoint($medium) {
        font-size: 16px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 18px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 20px; // originally 22px
    }
}



@media (min-width: 80em) {

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 80px;
  height: 80px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}
}

.author__avatar img { opacity: 1 !important; }
.author__avatar a img { opacity: 1 !important; }
